@font-face {
  font-family: "destain";
  src: url("destain.otf");
  font-weight: normal;
}

@font-face {
  font-family: "zokhan";
  src: url("Zokhan.ttf");
  font-weight: normal;
}


h1 {
  font-family: "destain";
  font-size: 65px;
  position: relative;
  top: 17px;
  text-align:center;
}

body {
  background-image: url("transparentLGBT.png");
  text-align: left;
  font-family: "zokhan";
  font-size: 70px;
  position: relative;
  bottom: 10px
}

button {
  align-items:center;
}
.press {
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background-color: transparent;
  border: #000000;
  border-style: solid;
  border-width: 1.5px;
  font-size: 50px;
  font-family: "zokhan";
}

#list {
  text-align: center;
  font-family: "zokhan";
  font-size: 60px;
  font-weight: 550;
}
