@font-face {
  font-family: "destain";
  src: url("destain.otf");
  font-weight: bold;
}

@font-face {
  font-family: "zokhan";
  src: url("Zokhan.ttf");
  font-weight: normal;
}

body {
  font-family: "destain";
  background-image: url("transparentLGBT.png");
  text-align: center;
}

h1 {
  font-size: 80px;
  margin:0px;
  padding:0px;
}

h2 {
  font-size:30px;
  margin:0px;
  padding:0px;
}

button {
  border-radius: 20px;
  height: 100px;
  width: 270px;
  background-color:#757575;
  color:white;
  border:none;
  font-size: 90px;
  font-family: "zokhan";
  cursor: pointer;
  box-shadow: 0 9px #303030;
}

button:hover {
  background-color:#595959;
}

button:active {
  background-color:#595959;
  box-shadow: 0 5px #303030;
  transform: translateY(4px);
}

#imagedine {
  position: relative;
  right: 70px;
  top: 13px;
}

#textdine {
  position: relative;
  left: 53px;
  bottom: 70px;
}
#imageabout {
  position: relative;
  right: 76px;
  top: 10px;
}
#textabout {
  position: relative;
  left: 53px;
  bottom: 70px;
}

#dineout {
  position: relative;
  right: 35px;
}

#aboutus {
  position:relative;
  left:30px;
}

#inclusive {
  font-family: "zokhan";
  font-size: 55px;
}
