@font-face {
  font-family: "destain";
  src: url("destain.otf");
  font-weight: normal;
}

@font-face {
  font-family: "zokhan";
  src: url("Zokhan.ttf");
  font-weight: normal;
}


h1 {
  font-family: "destain";
  font-size: 65px;
  position: relative;
  top: 17px;
  text-align:center;
}

body {
  background-image: url("transparentLGBT.png");
  text-align: left;
  font-family: "zokhan";
  font-size: 70px;
  position: relative;
  bottom: 10px
}

.press {
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background-color: transparent;
  border: #000000;
  border-style: solid;
  border-width: 1.5px;
  font-size: 50px;
  font-family: "zokhan";
  align-items:center;
}

.press:hover {
  background-color:#9a9797;
  cursor:pointer;
  color:white;
}

#list {
  font-family: "zokhan";
  font-size: 45px;
  font-weight: 550;
float:left;
margin-left:1cm;
list-style-type: none;
margin: 0;
padding-top: 40px;
text-align: center;
margin-left: 4.0cm;
}

#map {
       width: 500px;
       height: 400px;
       background-color: grey;
       position: relative;
       border-radius: 3px;
       top: 50px;
       float:right;
       margin-right:3cm;
     }

#pac-input {
  width: 300px;
}

 .home {
   position: absolute;
   right:    113px;
   bottom:-150px;
   background-color:#757575;
   border:none;
   color:white;
   text-align:center;
   text-decoration:none;
   display:inline-block;
   font-size:40px;
   height: 50px;
   width: 100px;
   cursor:pointer;
   border-radius:5px;
   box-shadow:0px 10px #303030;
   font-family: "zokhan";
   margin-bottom:1cm;
 }

.home:hover {
  background-color:#595959;
}
.home:active {
  background-color:#595959;
  box-shadow:0px 5px #303030;
  transform:translateY(4px);
}
