@font-face {
  font-family:"destain";
  src:url("destain.otf");
  font-weight:bold;
}

#textbox {
  text-align:center;
}

#text {
  color:white;
  margin:5px;
  border:4px white;
  border-style:dashed solid;
  width:500px;
  height:400px;
  background-color:#505254;
  display:inline-block;
}

h1 {
  font-size:40px;
  margin-bottom:0px;
  padding-bottom:0px;
  font-family:"destain";
  text-align:center;
}

#info {
  font-size:20px;
  padding:5px;
  margin:10px;
}

body {
  background-image:url("transparentLGBT.png");
}

button {
  background-color:#757575;
  border:none;
  color:white;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  cursor:pointer;
  border-radius:5px;
  box-shadow:0px 10px #303030;

}

button:hover {
  background-color:#595959;
}

button:active {
  background-color:#595959;
  box-shadow:0px 5px #303030;
  transform:translateY(4px);
}
