@font-face {
  font-family: "destain";
  src: url("destain.otf");
  font-weight: normal;
}

body {
  font-family: "destain";
  background-image: url("transparentLGBT.png");
  font-size: 100px;
  text-align: center;
}

button {
  border-radius: 20px;
  height: 100px;
  width: 270px;
  background-color: transparent;
  border: #000000;
  border-style: solid;
  border-width: 1.5px;
  font-size: 40px;
  font-family: "destain";
}

#dine {
  position: relative;
  right: 70px;
  top: 15px;
  bottom: 10px;
}

#out {
  position: relative;
  left: 55px;
  bottom: 44px;
}

#about {
  position: relative;

}
#us {
  position: relative;
}
