@font-face {
  font-family: "destain";
  src: url("destain.otf");
  font-weight: bold;
}

@font-face {
  font-family: "zokhan";
  src: url("Zokhan.ttf");
  font-weight: normal;
}

body {
  background-image: url("transparentLGBT.png");
  text-align: center;
}

h1 {
  font-size: 80px;
  margin:0px;
  padding:0px;
  font-family: "destain";
}

h2 {
  font-size:25px;
  margin:0px;
  padding:0px;
  font-family: "zokhan";
}

button {
  border-radius: 20px;
  height: 90px;
  width: 270px;
  background-color:#757575;
  color:white;
  border:none;
  font-size: 80px;
  font-family: "zokhan";
  cursor: pointer;
  box-shadow: 0 9px #303030;
}

button:hover {
  background-color:#595959;
}

button:active {
  background-color:#595959;
  box-shadow: 0 5px #303030;
  transform: translateY(4px);
}

#imagedine {
  position: relative;
  right: 70px;
  top: 13px;
}

#textdine {
  position: relative;
  left: 53px;
  bottom: 70px;
}
#imageabout {
  position: relative;
  right: 76px;
  top: 10px;
}
#textabout {
  position: relative;
  left: 53px;
  bottom: 70px;
}

#dineout {
  position: relative;
  right: 35px;
}

#aboutus {
  position:relative;
  left:30px;
}

#inclusive {
  font-family: "zokhan";
  font-size: 55px;
}

h2 {
 overflow: hidden;
 text-align: center;
}
h2:before,
h2:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 23%;
}
h2:before {
 right: 0.5em;
 margin-left: -50%;
}
h2:after {
 left: 0.5em;
 margin-right: -50%;
}

/**slideshow**/
* {box-sizing:border-box}
.mySlides {display:none}

/* slideshow container */
.slideshow-container {
  width: 500px;
  height:300px;
  position: relative;
  margin: auto;
  overflow:hidden;
}

/* next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* next button position */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* prev button position */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* button hover */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* caption*/
.text {
  color:white;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  background-color:rgba(0,0,0,0.4);
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "zokhan";
}

/* page number */
.numbertext {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "zokhan";
}

/* page indicator */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #757575;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #595959;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
